@import '../../../common/';

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: $width100percent;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.2s;
  z-index: 999;
  color: #000;
}

.alert__wrapper {
  position: absolute;
  top: -30%;
  left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width100percent;
  min-height: 100%;
}

.alert__content {
  position: relative;
  width: $width100percent;
  max-width: 350px;
  border-radius: 20px;
  background-color: #fff;
  padding: 40px 20px;
  transform: translateY(-50px);
  transition: opacity 0.2s, transform 0.2s;
  box-shadow: 0px 0px 10px -8px;
  font-size: 20px;
}

// open
.alert__entering,
.alert__entered {
  opacity: 1;
}
.alert__entering .alert__content,
.alert__entered .alert__content {
  transform: translateX(0);
}

// close
.alert__exiting,
.alert__exited {
  opacity: 0;
}
.alert__exiting .alert__content,
.alert__exited .alert__content {
  transform: translateX(50%);
}

@include desktop_medium {
  .alert__wrapper {
    top: -30%;
    left: 30%;
  }
}

@include laptop_large {
  .alert__content {
    max-width: 250px;
    font-size: 15px;
  }
}

@include tablet_large {
  .alert__wrapper {
    top: -40%;
    left: 25%;
  }
  .alert__content {
    padding: 30px 15px;
  }
}

@include tablet_medium {
  .alert__wrapper {
    top: -40%;
    left: 20%;
  }
  .alert__content {
    border-radius: 15px;
    padding: 20px 10px;
    font-size: 14px;
  }
}

@include mobile_large {
  .alert__wrapper {
    top: -35%;
    left: 20%;
  }
  .alert__content {
    border-radius: 15px;
    padding: 20px 10px;
    width: 200px;
    font-size: 14px;
  }
}

@include mobile_medium {
  .alert__wrapper {
    left: 15%;
  }
  .alert__content {
    border-radius: 15px;
    padding: 20px 10px;
    width: 180px;
    font-size: 11px;
  }
}
