@import '../../../variables/variables.scss';

.logout_wrapper {
  display: flex;
  align-items: end;
  gap: 30px;
}

.avatar_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.logout_button {
  @include login-button-style;
}

.login_button {
  @include login-button-style;
  color: #000;
  text-decoration: none;
}

@media (max-width: 1440px) {
  .logout_wrapper {
    gap: 20px;
  }
  .avatar_image {
    width: 45px;
    height: 45px;
  }
  .logout_button {
    @include login-button-style;
  }
  .login_button {
    @include login-button-style;
  }
}

@media (max-width: 1040px) {
  .logout_wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .avatar_image {
    width: 35px;
    height: 35px;
  }
  .logout_button {
    @include login-button-style;
  }
  .login_button {
    @include login-button-style;
  }
}

@media (max-width: 640px) {
  .logout_wrapper {
    margin-top: 15px;
    margin-right: 10px;
    gap: 10px;
  }
  .avatar_image {
    width: 25px;
    height: 25px;
  }
  .logout_button {
    @include login-button-style;
  }
  .login_button {
    @include login-button-style;
  }
}
