@import '../../../../variables/variables.scss';
.delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
}
.delete_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
.delete_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  font-size: $fontSize22;
  width: 100%;
  max-width: 700px;
  border-radius: $borderRadius20;
  background-color: #fff;
  padding: 40px 20px 20px 20px;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s;
  box-shadow: 0px 0px 8px -5px;
}

.delete_buttons {
  display: flex;
  gap: 80px;
}

.close_button {
  @include delete-button;
  background-color: $mainColor;
  color: #000;
}

.confirm_button {
  @include delete-button;
  background-color: $secondColor;
  color: #fff;
}

// open
.delete_entering,
.delete_entered {
  opacity: 1;
}
.delete_entering .delete_content,
.delete_entered .delete_content {
  transform: translateY(0);
}

// close
.delete_exiting,
.delete_exited {
  opacity: 0;
}
.delete_exiting .delete_content,
.delete_exited .delete_content {
  transform: translateY(-50%);
}

@media (max-width: 980px) {
  .delete_content {
    gap: 30px;
    font-size: 18px;
    width: 100%;
    max-width: 500px;
  }
  .delete_buttons {
    gap: 50px;
  }
}
@media (max-width: 720px) {
  .delete_content {
    gap: 20px;
    font-size: 15px;
    width: 100%;
    max-width: 380px;
  }
  .delete_buttons {
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .delete_content {
    gap: 20px;
    padding: 30px 10px 20px;
    font-size: 10px;
    width: 100%;
    max-width: 250px;
  }
  .delete_buttons {
    gap: 30px;
  }
}
