@import '../../common';

.about-us__wrapper {
  width: $width90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-us__title {
  @include adaptive-size(font-size, 48, 24);
}

.about-us__info {
  @include adaptive-size(font-size, 20, 10);
}
