@import '../../common';

.about-us__wrapper {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-us__title {
  font-size: 48px;
}

.about-us__info {
  font-family: $mainFont;
  font-size: 20px;
}

@include laptop {
  .about-us__title {
    font-size: 38px;
  }
  .about-us__info {
    font-size: 16px;
  }
}

@include tablet_large {
  .about-us__title {
    font-size: 30px;
  }
  .about-us__info {
    font-size: 14px;
  }
}

@include mobile_large {
  .about-us__title {
    font-size: 24px;
  }
  .about-us__info {
    font-size: 10px;
  }
}
