@import '../../common';

.about-us__wrapper {
  font-family: $mainFont;
  width: $width90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-us__title {
  font-size: calc(24px + 24 * ((100vw - 280px) / (1680 - 280)));
}

.about-us__info {
  font-size: calc(10px + 10 * ((100vw - 280px) / (1680 - 280)));
}
