@import '../../variables/variables.scss';

.wrapper {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title {
  font-size: 48px;
}

.info {
  font-family: $mainFont;
  font-size: 20px;
}

@media (max-width: 1180px) {
  .title {
    font-size: 38px;
  }
  .info {
    font-size: 16px;
  }
}

@media (max-width: 920px) {
  .title {
    font-size: 30px;
  }
  .info {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }
  .info {
    font-size: 10px;
  }
}
