@import '../../common';

.description_container {
  width: $width95vw;
  margin: 55px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 105px;
}

.description_back-button_container {
  align-self: end;
  a {
    text-decoration: none;
    color: $black;
  }
}

.description_back-button {
  @include adaptive-size(font-size, 22, 14);
}

.description_wrapper {
  width: $width90vw;
  @extend .display-flex-column;
  align-items: center;
  gap: 60px;
}

.description_product-name {
  font-weight: 600;
  @include adaptive-size(font-size, 30, 13);
  text-align: center;
}

.description_content {
  width: 80vw;
}

.description_image {
  @include adaptive-size(width, 600, 100);
  @include adaptive-size(height, 600, 100);
  @include adaptive-size(margin-right, 120, 20);
  // @include adaptive-size(margin-bottom, 100, 10);
  margin-bottom: calc(20px + 80 * ((100vw - 280px) / (1680 - 280)));
  float: left;
  border: solid 1px #eef2d1;
  border-radius: $borderRadius20;
  text-align: center;
  img {
    @extend .image-style;
    border-radius: $borderRadius20;
  }
}

.description_text {
  @include adaptive-size(font-size, 20, 9);
}

.description_text-title {
  @include adaptive-size(font-size, 24, 11);
  font-weight: 600;
  padding-bottom: 10px;
}
