@import '../../common';

.description_container {
  width: $width95vw;
  margin: 55px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 105px;
}

.description_back-button_container {
  align-self: end;
  a {
    text-decoration: none;
    color: #000;
  }
}

.description_back-button {
  font-size: calc(14px + 8 * ((100vw - 280px) / (1680 - 280)));
}

.description_wrapper {
  width: $width90vw;
  @include display-flex-column;
  align-items: center;
  gap: 60px;
}

.description_product-name {
  font-weight: 600;
  font-size: calc(13px + 17 * ((100vw - 280px) / (1680 - 280)));
  text-align: center;
}

.description_content {
  width: 80vw;
}

$description_image-size: calc(100px + 500 * ((100vw - 280px) / (1680 - 280)));
$image_margin-size: calc(20px + 100 * ((100vw - 280px) / (1680 - 280)));
.description_image {
  width: $description_image-size;
  height: $description_image-size;
  float: left;
  margin-right: $image_margin-size;
  margin-bottom: $image_margin-size;
  border: solid 1px #eef2d1;
  border-radius: $borderRadius20;
  text-align: center;
  img {
    @include image-style;
    border-radius: $borderRadius20;
  }
}

.description_text {
  font-size: calc(9px + 11 * ((100vw - 280px) / (1680 - 280)));
}

.description_text-title {
  font-size: calc(11px + 13 * ((100vw - 280px) / (1680 - 280)));
  font-weight: 600;
  padding-bottom: 10px;
}
