.wrapper {
  width: 96vw;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}

.navigate {
  padding: 25px;
  border-radius: 20px;
  background-color: #eef2d1;
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 20px;
  font-weight: 600;
  a {
    text-decoration: none;
  }
}

.active {
  color: #1e9245;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 85vw;
    margin: 20px auto 0;
  }
  .navigate {
    border-radius: 15px;
    gap: 40px;
    font-size: 18px;
  }
}

@media (max-width: 1040px) {
  .wrapper {
    width: 75vw;
    margin: 15px auto 0;
  }
  .navigate {
    border-radius: 15px;
    gap: 35px;
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 100vw;
    margin: 0;
    justify-content: center;
  }
  .navigate {
    width: 100%;
    border-radius: 0;
    gap: 0;
    justify-content: space-around;
    font-size: 12px;
  }
}
