@import '../../../common';

.interaction_wrapper {
  width: $width95vw;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interaction_search {
  display: flex;
  gap: 10px;
}

.search_input {
  @include search-style;
  @include text-styles(14px);
  width: 600px;
  padding: 15px 20px;
  outline: none;
}

.fields_reset-button {
  @include search-style;
  padding: 10px 20px;
  cursor: pointer;
}

.search_button {
  @include search-style;
  padding: 10px 30px;
  cursor: pointer;
}

.sorting {
  display: flex;
  gap: 80px;
}

.sorting_title {
  @include text-styles(16px, 500);
}

.sorting_buttons {
  display: flex;
  gap: 40px;
  button {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
}

.wtihout_filters_button {
  color: #1e9245;
}

.sorting_section {
  display: flex;
  gap: 10px;
}

.sorting_icon-wrapper {
  width: 20px;
  height: 20px;
  img {
    @include image-style;
    cursor: pointer;
  }
}

@include desktop_medium {
  .interaction_wrapper {
    width: $width90vw;
    margin: 25px auto 0;
  }
  .search_input {
    width: 450px;
    padding: 12px 18px;
  }
  .search_button {
    padding: 10px 20px;
  }
  .sorting {
    gap: 60px;
  }
  .sorting_title {
    font-size: 14px;
  }
  .sorting_buttons {
    gap: 35px;
  }
  .sorting_section {
    gap: 5px;
  }
  .sorting_icon-wrapper {
    width: 15px;
    height: 15px;
  }
}

@include laptop_large {
  .interaction_wrapper {
    width: 87vw;
    margin: 20px auto 0;
  }
  .search_input {
    width: 350px;
    padding: 10px 15px;
  }
  .search_button {
    padding: 10px 20px;
  }
  .sorting {
    gap: 40px;
  }
  .sorting_title {
    font-size: 13px;
  }
  .sorting_buttons {
    gap: 30px;
    font-size: 13px;
  }
  .sorting_section {
    gap: 5px;
  }
  .sorting_icon-wrapper {
    width: 12px;
    height: 12px;
  }
  .wtihout_filters_button {
    color: #1e9245;
    font-size: 13px;
  }
}

@include tablet_medium {
  .interaction_wrapper {
    width: 85vw;
    margin: 20px auto;
  }
  .search_input {
    width: 280px;
    padding: 8px 15px;
  }
  .search_button {
    padding: 5px 15px;
    font-size: 11px;
  }
  .sorting {
    gap: 20px;
  }
  .sorting_title {
    font-size: 10px;
  }
  .sorting_buttons {
    gap: 25px;
    font-size: 10px;
  }
  .sorting_section {
    gap: 3px;
  }
  .sorting_icon-wrapper {
    width: 10px;
    height: 10px;
  }
  .wtihout_filters_button {
    color: #1e9245;
    font-size: 10px;
  }
}

@include mobile_medium {
  .search_input {
    width: 200px;
    padding: 5px 10px;
  }
  .search_button {
    padding: 5px 10px;
  }
  .sorting {
    gap: 20px;
  }
  .sorting_title {
    font-size: 8px;
  }
  .sorting_buttons {
    gap: 20px;
    font-size: 8px;
  }
  .sorting_section {
    gap: 3px;
  }
  .sorting_icon-wrapper {
    width: 8px;
    height: 8px;
  }
  .wtihout_filters_button {
    color: #1e9245;
    font-size: 8px;
  }
}

@include mobile_small {
  .search_input {
    width: 180px;
  }
  .sorting {
    gap: 10px;
  }
  .sorting_title {
    font-size: 6px;
  }
  .sorting_buttons {
    gap: 20px;
    font-size: 6px;
  }
  .sorting_section {
    gap: 1px;
  }
  .sorting_icon-wrapper {
    width: 5px;
    height: 5px;
  }
  .wtihout_filters_button {
    font-size: 6px;
  }
}
