@import '../../common';

.shop-cart__wrapper {
  width: $width95vw;
  margin: 85px auto 50px;
  @extend .display-flex-column;
  align-items: center;
  gap: 50px;
  text-align: center;
  @include adaptive-size(font-size, 25, 11);
}

.shop-cart__header {
  width: $width100percent;
  @extend .display-flex-column;
  gap: 20px;
}

.shop__cart__title {
  text-align: center;
  font-weight: 600;
  @include adaptive-size(font-size, 32, 14);
}

.shop-cart__product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 85px 50px;
}

.shop-cart__product {
  width: 220px;
  @extend .display-flex-column;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
.shop-cart__product:hover {
  box-shadow: 0px 0px 10px -5px;
}

.product__image {
  width: 200px;
  height: 200px;
  border: solid 1px #eef2d1;
  border-radius: $borderRadius20;
  img {
    width: $width100percent;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius20;
  }
}

.product__text {
  @include adaptive-size(font-size, 16, 8);
}

.quantity__action {
  display: flex;
  gap: 20px;
  align-items: center;
}

.quantity__button {
  color: $white;
  @include adaptive-size(font-size, 25, 14);
  cursor: pointer;
  padding: 3px 10px;
  background-color: $secondColor;
  border: none;
  border-radius: 10px;
}

.shop-cart__delete-button {
  font-family: $mainFont;
  color: $red;
  cursor: pointer;
  @include adaptive-size(font-size, 16, 8);
}

.shop-cart__clear-button {
  align-self: end;
  background: inherit;
  border: none;
  @extend .shop-cart__delete-button;
}

@include desktop_large {
  .shop-cart__product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@include desktop_medium {
  .shop-cart__product {
    width: 180px;
    gap: 13px;
  }
  .product__image {
    width: 160px;
    height: 160px;
  }
}

@include laptop_large {
  .shop-cart__product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include laptop_medium {
  .shop-cart__wrapper {
    margin-top: 50px;
  }
  .shop-cart__product {
    border-radius: 15px;
    width: 150px;
    gap: 13px;
  }
  .product__image {
    width: 130px;
    height: 130px;
  }
  .quantity__action {
    gap: 15px;
  }
  .quantity__button {
    padding: 2px 8px;
    border-radius: 8px;
  }
}

@include laptop_small {
  .shop-cart__wrapper {
    gap: 30px;
  }
  .shop-cart__product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include tablet_medium {
  .shop-cart__wrapper {
    margin-top: 35px;
    gap: 20px;
  }
  .shop-cart__product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@include mobile_medium {
  .shop-cart__wrapper {
    gap: 0;
  }
  .shop-cart__product {
    border-radius: 10px;
    width: 100px;
    gap: 13px;
  }
  .product__image {
    width: 80px;
    height: 80px;
  }
  .quantity__action {
    gap: 10px;
  }
  .quantity__button {
    padding: 1px 5px;
    border-radius: 5px;
  }
}
