@import '../../variables/variables.scss';

.wrapper {
  width: 93vw;
  margin: 85px auto 50px;
  @include displey-flex-column;
  align-items: center;
  gap: 50px;
  text-align: center;
  font-size: 25px;
}

.header {
  width: 100%;
  @include displey-flex-column;
  gap: 20px;
}

.shop_cart_title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.clear_button {
  align-self: end;
  background: inherit;
  border: none;
  color: #f41e1e;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 85px 50px;
}

.product {
  width: 220px;
  @include displey-flex-column;
  gap: 13px;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
.product:hover {
  box-shadow: 0px 0px 10px -5px;
}

.product_image {
  width: 200px;
  height: 200px;
  border: solid 1px #eef2d1;
  border-radius: $borderRadius20;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius20;
  }
}

.product_text {
  font-size: 14px;
  font-weight: $fontWeight500;
}

.delete_button {
  color: #f41e1e;
  background: inherit;
  border: none;
  cursor: pointer;
}

@media (max-width: 1640px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1380px) {
  .product {
    width: 180px;
    gap: 13px;
  }
  .product_image {
    width: 160px;
    height: 160px;
  }
  .wrapper {
    font-size: 18px;
  }
  .shop_cart_title {
    font-size: 28px;
  }
  .product_text {
    font-size: 13px;
  }
}

@media (max-width: 1180px) {
  .wrapper {
    font-size: 18px;
  }
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 920px) {
  .wrapper {
    margin-top: 50px;
  }
  .product {
    border-radius: 15px;
    width: 150px;
    gap: 13px;
  }
  .product_image {
    width: 130px;
    height: 130px;
  }
  .shop_cart_title {
    font-size: 24px;
  }
  .product_text {
    font-size: 11px;
  }
}

@media (max-width: 750px) {
  .wrapper {
    font-size: 16px;
    gap: 30px;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .delete_button {
    font-size: 12px;
  }
  .clear_button {
    font-size: 12px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    margin-top: 35px;
    font-size: 14px;
    gap: 20px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .shop_cart_title {
    font-size: 17px;
  }
}

@media (max-width: 380px) {
  .wrapper {
    font-size: 11px;
    gap: 0;
  }
  .product {
    border-radius: 10px;
    width: 100px;
    gap: 13px;
  }
  .product_image {
    width: 80px;
    height: 80px;
  }
  .product_text {
    font-size: 8px;
  }
  .shop_cart_title {
    font-size: 14px;
  }
  .delete_button {
    font-size: 8px;
  }
  .clear_button {
    font-size: 8px;
  }
}
