@import '../../../common';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: $width100percent;
  height: $width100percent;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 999;
  &_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width100percent;
    min-height: 100%;
  }
  &_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include adaptive-size(gap, 30, 15);
    width: $width100percent;
    @include adaptive-size(font-size, 22, 10);
    @include adaptive-size(max-width, 700, 250);
    border-radius: $borderRadius20;
    background-color: $white;
    padding: 40px 20px 20px;
    transform: translateY(-50px);
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0px 0px 8px -5px;
  }
  &_buttons {
    display: flex;
    @include adaptive-size(gap, 80, 30);
  }
  &_close_button {
    @extend .confirm-button;
    background-color: $mainColor;
    color: $black;
  }
  &_confirm_button {
    @extend .confirm-button;
    background-color: $secondColor;
    color: $white;
  }

  // open
  &_entering,
  &_entered {
    opacity: 1;
  }
  &_entering &_content,
  &_entered &_content {
    transform: translateY(0);
  }

  // close
  &_exiting,
  &_exited {
    opacity: 0;
  }
  &_exiting &_content,
  &_exited &_content {
    transform: translateY(-50%);
  }
}

@include mobile_large {
  .modal_content {
    padding: 30px 10px 20px;
  }
}
