@import '../../../common';

.product-list_wrapper {
  width: $width95vw;
  margin: 0 auto 40px;
  @include adaptive-size(margin-top, 110, 10);
  @include adaptive-size(font-size, 28, 12);
  text-align: center;
  display: flex;
  justify-content: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @include adaptive-size(gap, 50, 20);
}

.product-list_product {
  @include adaptive-size(max-width, 240, 140);
  border-radius: $borderRadius20;
  padding: 15px;
  display: flex;
  flex-direction: column;
  @include adaptive-size(gap, 12, 5);
  align-items: center;
}
.product-list_product:hover {
  box-shadow: 0px 0px 15px -10px;
  transition: all 0.25s;
}

.product_image {
  @include adaptive-size(width, 220, 100);
  @include adaptive-size(height, 220, 100);
  cursor: pointer;
  border: solid 1px #eef2d1;
  border-radius: $borderRadius10;
  img {
    @extend .image-style;
    border-radius: 10px;
  }
}

.product_edit-button {
  @extend .product-action-button;
  color: $lightBlack;
  background-color: $mainColor;
}
.product_edit-button:hover {
  background-color: $lightMainColor;
}

.add_cart_button {
  @extend .product-action-button;
  color: $white;
  background-color: $secondColor;
}
.add_cart_button:hover {
  background-color: $lightSecondColor;
}

.button_icon {
  @include adaptive-size(font-size, 24, 5);
}

.icon-trash {
  @include adaptive-size(font-size, 28, 12);
  cursor: pointer;
}

.product_text {
  @include adaptive-size(font-size, 16, 8);
}

.create_button_container {
  align-self: end;
}
.create_button {
  @include adaptive-size(font-size, 22, 10);
  background-color: $mainColor;
  color: $black;
  cursor: pointer;
  border-radius: $borderRadius20;
  padding: 10px 35px;
}

@include desktop_large {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@include desktop_medium {
  .product-list_product {
    padding: 15px 10px;
  }
}
@include desktop_small {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@include laptop_large {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@include tablet_large {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mobile_large {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mobile_medium {
  .create_button {
    padding: 8px 20px;
  }
}
@include mobile_small {
  .product-list_product {
    padding: 10px;
  }
}
