@import '../../../common';

.product-list_wrapper {
  width: 95vw;
  margin: 110px auto 40px;
  text-align: center;
  font-size: 25px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.product-list_product {
  max-width: 250px;
  border-radius: $borderRadius20;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.product-list_product:hover {
  box-shadow: 0px 0px 15px -10px;
  transition: all 0.25s;
}

.product_image {
  width: 220px;
  height: 220px;
  cursor: pointer;
  border: solid 1px #eef2d1;
  border-radius: $borderRadius10;
  img {
    @include image-style;
    border-radius: 10px;
  }
}

.product_edit-button {
  @include action-button;
  color: #f41e1e;
}

.add_cart_button {
  @include action-button;
  color: #17156c;
}

.product_delete-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  img {
    @include image-style;
  }
}

.product_text {
  font-size: 16px;
  font-weight: $fontWeight500;
}

.create_button_container {
  align-self: end;
}

.create_button {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-radius: $borderRadius20;
  padding: 10px 35px;
  font-size: $fontSize22;
  background-color: $mainColor;
}

@media (max-width: 1740px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1440px) {
  .product-list_wrapper {
    margin: 30px auto;
    font-size: 24px;
  }
  .product-list {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px 5px;
  }
  .product-list_product {
    max-width: 220px;
    padding: 15px 10px;
    gap: 10px;
  }
  .product_image {
    width: 180px;
    height: 180px;
  }
  .create_button {
    font-size: 20px;
  }
  .product_text {
    font-size: 13px;
  }
}

@media (max-width: 1240px) {
  .product-list_wrapper {
    font-size: 22px;
  }
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1040px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 840px) {
  .product-list_wrapper {
    font-size: 20px;
  }
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product_delete-button {
    width: 20px;
    height: 20px;
  }
  .create_button {
    padding: 8px 30px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .product-list_wrapper {
    font-size: 18px;
    margin-top: 5px;
  }
  .product-list_product {
    max-width: 180px;
    padding: 15px 10px;
    gap: 8px;
  }
  .product_image {
    width: 140px;
    height: 140px;
  }
  .create_button {
    font-size: 14px;
  }
  .product_text {
    font-size: 11px;
  }
}

@media (max-width: 380px) {
  .product-list_product {
    max-width: 120px;
    padding: 15px 10px;
    gap: 10px;
  }
  .product_delete-button {
    width: 15px;
    height: 15px;
  }
  .product_image {
    width: 100px;
    height: 100px;
  }
  .create_button {
    font-size: 12px;
  }
  .product_text {
    font-size: 9px;
  }
}

@media (max-width: 279px) {
  .product-list_product {
    max-width: 100px;
    padding: 15px 10px;
    gap: 10px;
  }
  .product_delete-button {
    width: 12px;
    height: 12px;
  }
  .product_image {
    width: 80px;
    height: 80px;
  }
  .create_button {
    font-size: 10px;
  }
  .product-list_product {
    padding: 10px;
    gap: 5px;
  }
  .product_text {
    font-size: 6px;
  }
}
