@import '../../variables/variables.scss';

.wrapper {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

// Login button styles
.logout_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.avatar_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.logout_button {
  @include login-button-style;
}

.login_button {
  @include login-button-style;
  color: #000;
  text-decoration: none;
}

// Navigation styles
.nav_wrapper {
  width: 96vw;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}

.navigate {
  padding: 25px;
  border-radius: 20px;
  background-color: #eef2d1;
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 20px;
  font-weight: 600;
  a {
    text-decoration: none;
  }
}

.active {
  color: #1e9245;
}

// Adaptive navigation
.adaptive_nav_button {
  display: none;
}

.adaptive_nav_wrapper {
  position: absolute;
  left: 0;
}
.adaptive_navigate {
  position: relative;
  width: 100vw;
  background-color: $mainColor;
  z-index: 0;
  padding: 10px;
  gap: 8px;
  font-size: 20px;
  display: none;
  transform: translateY(-150%);
  transition: transform 0.2s;
}
.menu {
  &_entering,
  &_entered {
    transform: translateY(0);
  }
  &_exiting,
  &_exited {
    transform: translateY(-150%);
  }
}

.menu_wrapper {
  &_entering,
  &_entered,
  &_exiting {
    transform: translateY(0);
  }
  &_exited {
    transform: translateY(-150%);
  }
}

.nav_button_wrapper {
  width: 100%;
  background-color: $mainColor;
}

.adaptive_nav_button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  img {
    @include image-style;
  }
}

@media (max-width: 1440px) {
  .nav_wrapper {
    width: 95vw;
    margin: 20px auto 0;
  }
  .navigate {
    border-radius: 15px;
    gap: 40px;
    font-size: 18px;
  }
  .logout_wrapper {
    gap: 20px;
  }
  .avatar_image {
    width: 45px;
    height: 45px;
  }
  .logout_button {
    @include login-button-style;
  }
  .login_button {
    @include login-button-style;
  }
}

@media (max-width: 1040px) {
  .nav_wrapper {
    margin: 15px auto 0;
  }
  .navigate {
    border-radius: 15px;
    gap: 35px;
    font-size: 16px;
  }
  .logout_wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .avatar_image {
    width: 35px;
    height: 35px;
  }
  .logout_button {
    @include login-button-style;
  }
  .login_button {
    @include login-button-style;
  }
}

@media (max-width: 640px) {
  .wrapper {
    width: 100vw;
    margin: 0;
    flex-direction: column;
    align-items: end;
  }
  .logout_wrapper {
    margin-top: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .avatar_image {
    width: 25px;
    height: 25px;
  }
  .logout_button {
    @include login-button-style;
  }
  .login_button {
    @include login-button-style;
  }
}

@media (max-width: 540px) {
  .nav_wrapper {
    width: 100vw;
    margin: 0;
    justify-content: center;
  }
  .navigate {
    width: 100%;
    border-radius: 0;
    gap: 0;
    justify-content: space-around;
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  .wrapper {
    flex-direction: row;
    background-color: $mainColor;
    padding: 12px;
  }
  .logout_wrapper {
    align-self: start;
  }
  .nav_wrapper {
    display: none;
  }
  .avatar_image {
    width: 20px;
    height: 20px;
  }
  .adaptive_nav_button {
    display: flex;
  }
  .adaptive_navigate {
    flex-direction: column;
    display: flex;
  }
}
