@import '../../common';

.header__wrapper {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

// Login button styles
.logout__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.avatar__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.logout__button {
  @include login-button-style;
}

.login__button {
  @include login-button-style;
  color: #000;
  text-decoration: none;
}

// Navigation styles
.nav__wrapper {
  width: 96vw;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}

.navigate {
  padding: 25px;
  border-radius: 20px;
  background-color: $mainColor;
  display: flex;
  justify-content: center;
  gap: 45px;
  font-size: 20px;
  font-weight: 600;
  a {
    text-decoration: none;
  }
}

.active {
  color: #1e9245;
}

// Adaptive navigation
.adaptive-nav__button {
  display: none;
}

.adaptive-nav__wrapper {
  position: absolute;
  left: 0;
}
.adaptive-navigate {
  position: relative;
  width: 100vw;
  background-color: $mainColor;
  z-index: 0;
  padding: 20px;
  gap: 8px;
  font-size: 12px;
  display: none;
  transform: translateY(-150%);
  transition: transform 0.2s;
}
.menu {
  &__entering,
  &__entered {
    transform: translateY(0);
  }
  &__exiting,
  &__exited {
    transform: translateY(-150%);
  }
}

.menu__wrapper {
  &__entering,
  &__entered,
  &__exiting {
    transform: translateY(0);
  }
  &__exited {
    transform: translateY(-150%);
  }
}

.nav-button__wrapper {
  width: 100%;
  background-color: $mainColor;
}

.adaptive-nav__button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  img {
    @include image-style;
  }
}

@media (max-width: 1440px) {
  .nav__wrapper {
    width: 95vw;
    margin: 20px auto 0;
  }
  .navigate {
    border-radius: 15px;
    gap: 40px;
    font-size: 18px;
  }
  .logout__wrapper {
    gap: 20px;
  }
  .avatar__image {
    width: 45px;
    height: 45px;
  }
  .logout__button {
    @include login-button-style;
  }
  .login__button {
    @include login-button-style;
  }
}

@media (max-width: 1040px) {
  .nav__wrapper {
    margin: 15px auto 0;
  }
  .navigate {
    border-radius: 15px;
    gap: 35px;
    font-size: 16px;
  }
  .logout__wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .avatar__image {
    width: 35px;
    height: 35px;
  }
  .logout__button {
    @include login-button-style;
  }
  .login__button {
    @include login-button-style;
  }
}

@media (max-width: 640px) {
  .header__wrapper {
    width: 100vw;
    margin: 0;
    flex-direction: column;
    align-items: end;
  }
  .logout__wrapper {
    margin-top: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .avatar__image {
    width: 25px;
    height: 25px;
  }
  .logout__button {
    @include login-button-style;
  }
  .login__button {
    @include login-button-style;
  }
}

@media (max-width: 540px) {
  .nav__wrapper {
    width: 100vw;
    margin: 0;
    justify-content: center;
  }
  .navigate {
    width: 100%;
    border-radius: 0;
    gap: 0;
    justify-content: space-around;
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  .header__wrapper {
    flex-direction: row;
    background-color: $mainColor;
    padding: 12px;
  }
  .logout__wrapper {
    align-self: start;
  }
  .nav__wrapper {
    display: none;
  }
  .avatar__image {
    width: 20px;
    height: 20px;
  }
  .adaptive-nav__button {
    display: flex;
  }
  .adaptive-navigate {
    flex-direction: column;
    display: flex;
  }
}
