@import '../../variables/variables.scss';

.wrapper {
  @include displey-flex-column;
  width: 95vw;
  margin: 30px auto 30px;
  height: 95vh;
  gap: 200px;
}

.back_button {
  @include button-styles;
  align-self: start;
}

.container {
  @include displey-flex-column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 200px;
}

.add_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: $borderRadius20;
  background-color: $mainColor;
  font-size: $fontSize22;
  font-weight: $fontWeight500;
  cursor: pointer;
  img {
    @include image-style;
    border-radius: $borderRadius20;
  }
}

.create_product_form {
  @include displey-flex-column;
  align-items: center;
  gap: 30px;
}

.form_label {
  @include displey-flex-column;
  &_error {
    text-align: center;
    color: red;
  }
}

.fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  &_input {
    width: 600px;
    border-radius: 10px;
    border: 1px solid rgba(106, 93, 93, 0.2);
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.4);
    font-size: $fontSize22;
    font-weight: $fontWeight500;
    outline: none;
  }
}

.save_button {
  @include button-styles;
  align-self: end;
}

.loading {
  align-self: center;
  span {
    width: 70px !important;
    height: 70px !important;
    color: $secondColor;
  }
}

@media (max-width: 1510px) {
  .fields {
    gap: 40px;
    &_input {
      width: 500px;
      padding: 10px 20px;
      font-size: 20px;
    }
  }
  .add_image {
    width: 500px;
    height: 500px;
    font-size: 20px;
  }
  .content {
    gap: 12vw;
  }
}

@media (max-width: 1220px) {
  .wrapper {
    gap: 12vh;
  }
  .fields {
    gap: 30px;
    &_input {
      width: 400px;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  .add_image {
    width: 400px;
    height: 400px;
    font-size: 16px;
  }
}

@media (max-width: 980px) {
  .fields {
    gap: 20px;
    &_input {
      width: 300px;
      padding: 10px 20px;
      font-size: 13px;
    }
  }
  .add_image {
    width: 300px;
    height: 300px;
    font-size: 13px;
  }
}

@media (max-width: 740px) {
  .fields {
    gap: 20px;
    &_input {
      width: 300px;
      padding: 10px 20px;
      font-size: 13px;
    }
  }
  .add_image {
    font-size: 13px;
  }
  .save_button {
    align-self: center;
  }
  .content {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .fields {
    gap: 15px;
    &_input {
      width: 200px;
      padding: 8px 15px;
      border-radius: 8px;
      font-size: 10px;
    }
  }
  .add_image {
    width: 200px;
    height: 200px;
    font-size: 10px;
  }
}
