@import '../../common/';

.create-product__wrapper {
  @extend .display-flex-column;
  width: $width95vw;
  margin: 30px auto 30px;
  height: 95vh;
  gap: 200px;
}

.create-product__back {
  @extend .login-component-button-styles;
  align-self: start;
}

.create-product__container {
  @extend .display-flex-column;
}

.create-product__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 200px;
}

.create-product__add-image {
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptive-size(width, 600, 200);
  @include adaptive-size(height, 600, 200);
  border-radius: $borderRadius20;
  background-color: $mainColor;
  @include adaptive-size(font-size, 22, 10);
  cursor: pointer;
  img {
    @extend .image-style;
    border-radius: $borderRadius20;
  }
}

.create-product__form {
  @extend .display-flex-column;
  align-items: center;
  gap: 30px;
}

.create-product__label {
  @extend .display-flex-column;
}

.create-product__error {
  text-align: center;
  color: red;
}

.create-product__fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  .create-product__field {
    font-family: $mainFont;
    @include adaptive-size(width, 600, 200);
    border-radius: 10px;
    border: 1px solid rgba(106, 93, 93, 0.2);
    padding: 10px 20px;
    color: $lightBlack;
    @include adaptive-size(font-size, 22, 10);
    outline: none;
  }
}

.create-product__save {
  @extend .login-component-button-styles;
  align-self: end;
}

@include desktop_large {
  .create-product__wrapper {
    gap: 150px;
  }
  .create-product__fields {
    gap: 40px;
    .create-product__field {
      padding: 10px 20px;
    }
  }
  .create-product__content {
    gap: 12vw;
  }
}

@include desktop_medium {
  .create-product__wrapper {
    gap: 100px;
  }
}

@include desktop_small {
  .create-product__wrapper {
    gap: 12vh;
  }
  .create-product__fields {
    gap: 30px;
    .create-product__field {
      padding: 10px 20px;
    }
  }
}

@include laptop_medium {
  .create-product__fields {
    gap: 20px;
    .create-product__field {
      padding: 10px 20px;
    }
  }
  .create-product__content {
    justify-content: center;
  }
}

@include laptop_small {
  .create-product__fields {
    gap: 20px;
    .create-product__field {
      padding: 8px 15px;
    }
  }
}

@include tablet_large {
  .create-product__fields {
    gap: 20px;
  }
  .create-product__save {
    align-self: center;
  }
}

@include mobile_large {
  .create-product__fields {
    gap: 15px;
    .create-product__field {
      border-radius: 8px;
    }
  }
}
