@import '../../../common';

.skeletons__wrapper {
  width: $width95vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.skeletons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.product__skeleton {
  width: $width100percent;
  height: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.skeleton__image {
  width: 230px;
  height: 230px;
}

@include desktop_large {
  .skeletons {
    grid-template-columns: repeat(5, 1fr);
  }
}

@include desktop_medium {
  .skeletons {
    grid-template-columns: repeat(6, 1fr);
  }
  .skeleton__image {
    width: 160px;
    height: 160px;
  }
}

@include desktop_small {
  .skeletons {
    grid-template-columns: repeat(5, 1fr);
  }
}

@include laptop_large {
  .skeletons {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include laptop_small {
  .skeletons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include tablet_large {
  .skeletons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mobile_large {
  .skeleton__image {
    width: 130px;
    height: 130px;
  }
}

@include mobile_medium {
  .skeleton__image {
    width: 90px;
    height: 90px;
  }
}

@include mobile_small {
  .skeleton__image {
    width: 70px;
    height: 70px;
  }
}
