@import '../../variables/variables.scss';

.container {
  font-family: $mainFont;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.back_button {
  font-family: $mainFont;
  font-weight: $fontWeight400;
  padding: 10px 30px;
  border-radius: $borderRadius10;
  border: $border;
  background-color: #fff;
  font-size: 20px;
}

.back_button_wrapper {
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
}

.login_title {
  text-align: center;
  font-family: $mainFont;
  font-size: 36px;
  font-weight: $fontWeight400;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 75px;
  &_label {
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    &_error {
      cursor: pointer;
      color: red;
    }
  }
  &_input {
    font-family: $mainFont;
    width: 600px;
    padding: 20px 25px;
    border-radius: 20px;
    border: none;
    background-color: $mainColor;
    font-size: $fontSize24;
    font-weight: $fontWeight400;
    outline: none;
  }
  &_buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    div {
      font-family: $mainFont;
      font-size: 20px;
    }
  }
  &_button {
    font-family: $mainFont;
    font-weight: $fontWeight400;
    padding: 10px 30px;
    border-radius: $borderRadius10;
    border: $border;
    font-size: $fontSize24;
    color: $mainColor;
    background: $secondColor;
  }
}


@media (max-width: 1240px) {
  .login_wrapper {
    height: 70vh;
    justify-content: center;
  }
  .back_button {
    font-size: 15px;
  }
  .login_title {
    font-size: 30px;
  }
  .login_form {
    margin-top: 60px;
    &_input {
      padding: 15px 20px;
      font-size: 20px;
      width: 500px;
    }
    &_buttons {
      gap: 20px;
      div {
        font-size: 18px;
      }
    }
    &_button {
      font-size: 21px;
    }
  }
}

@media (max-width: 780px) {
  .back_button {
    font-size: 13px;
  }
  .login_title {
    font-size: 26px;
  }
  .login_form {
    margin-top: 40px;
    gap: 10px;
    &_input {
      padding: 12px 18px;
      font-size: 18px;
      width: 400px;
    }
    &_buttons {
      margin-top: 25px;
      gap: 15px;
      div {
        font-size: 15px;
      }
    }
    &_button {
      font-size: 17px;
    }
  }
}

@media (max-width: 540px) {
  .back_button {
    font-size: 8px;
  }
  .login_title {
    font-size: 22px;
  }
  .login_form {
    margin-top: 40px;
    gap: 10px;
    &_input {
      padding: 10px 15px;
      font-size: 15px;
      width: 250px;
      border-radius: 8px;
    }
    &_buttons {
      margin-top: 20px;
      gap: 10px;
      div {
        font-size: 12px;
      }
    }
    &_button {
      padding: 8px 25px;
      font-size: 14px;
    }
  }
}
