@import '../../common';

.login__container {
  width: $width90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.login__back-button {
  @include font(_);
  @include adaptive-size(font-size, 16, 8);
  padding: 10px 30px;
  border-radius: $borderRadius10;
  border: $border;
  background-color: $white;
  cursor: pointer;
}

.login__back-button__wrapper {
  height: 9vh;
  width: $width100percent;
  display: flex;
  align-items: flex-end;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
}

.login__title {
  text-align: center;
  @include adaptive-size(font-size, 36, 20);
  @include font(_, 400, $secondFont);
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 75px;
  &__label {
    font-family: $secondFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    &__error {
      color: red;
    }
  }
  &__input {
    @include adaptive-size(font-size, 24, 14);
    @include adaptive-size(width, 600, 200);
    @include font(_, 400, $secondFont);
    padding: 20px 25px;
    border-radius: 20px;
    border: none;
    background-color: $mainColor;
    outline: none;
  }
  &__buttons {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    div {
      @include adaptive-size(font-size, 20, 12);
      @include font(_, 400, $secondFont);
    }
  }
  &__button {
    @include adaptive-size(font-size, 24, 14);
    @include font(_, 400, $secondFont);
    padding: 10px 30px;
    border-radius: $borderRadius10;
    border: $border;
    color: $mainColor;
    background: $secondColor;
    cursor: pointer;
  }
  &__error {
    @include font(_, 400, $secondFont);
    color: rgb(212, 51, 51);
  }
}

.auth__loading__button {
  @extend .login__form__button;
  background-color: $secondColor;
  padding: 10px 48px;
  cursor: default;
}

.register__loading__button {
  @extend .auth__loading__button;
  padding: 10px 120px;
  cursor: default;
}

@include desktop_small {
  .login__wrapper {
    height: 70vh;
    justify-content: center;
  }
  .login__form {
    margin-top: 60px;
    &__input {
      padding: 15px 20px;
    }
    &__buttons {
      gap: 20px;
    }
  }
}

@include laptop_small {
  .login__form {
    margin-top: 40px;
    gap: 10px;
    &__input {
      padding: 12px 18px;
    }
    &__buttons {
      margin-top: 25px;
      gap: 15px;
    }
  }
}

@include tablet_medium {
  .login__form {
    margin-top: 40px;
    gap: 10px;
    &__input {
      padding: 10px 15px;
      border-radius: 8px;
    }
    &__buttons {
      margin-top: 20px;
      gap: 10px;
    }
    &__button {
      padding: 8px 25px;
    }
  }
}

@include mobile_large {
  .login__form {
    &__input {
      padding: 8px 12px;
    }
    &__button {
      padding: 5px 18px;
      border-radius: 8px;
    }
  }
}
