@mixin text-styles($fontSize, $fontWeight: 400, $fontFamily: Iowan Old Style, $lineHeight: normal) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  line-height: $lineHeight;
}
