$mainColor: #eef2d1;
$secondColor: #595d41;

$borderRadius10: 10px;
$borderRadius20: 20px;

$fontSize22: 22px;
$fontSize24: 24px;

$fontWeight400: 400;
$fontWeight500: 500;

$mainFont: Iowan Old Style;
$border: 1px solid rgba(0, 0, 0, 0.3);

$width100percent: 100%;

$width100vw: 100vw;
$width95vw: 95vw;
$width90vw: 90vw;

$breakpoint_1640: 1640px;
$breakpoint_1440: 1440px;
$breakpoint_1240: 1240px;
$breakpoint_1080: 1080px;
$breakpoint_980: 980px;
$breakpoint_840: 840px;
$breakpoint_680: 680px;
$breakpoint_580: 580px;
$breakpoint_480: 480px;
$breakpoint_430: 430px;
$breakpoint_380: 380px;
$breakpoint_300: 300px;
