$mainColor: #eef2d1;
$secondColor: #595d41;

$borderRadius10: 10px;
$borderRadius20: 20px;

$fontSize22: 22px;
$fontSize24: 24px;

$fontWeight400: 400;
$fontWeight500: 500;

$mainFont: Iowan Old Style;
$border: 1px solid rgba(0, 0, 0, 0.3);

$breakpoint_xl: 1180px;
$breakpoint_m: 920px;
$breakpoint_s: 480px;
