@import '../../common';

.contacts__wrapper {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__links {
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.link__wrapper {
  width: 100px;
  height: 100px;
  cursor: pointer;
  img {
    @include image-style;
  }
}

@media (max-width: 1180px) {
  .contacts__links {
    gap: 80px;
  }
  .link__wrapper {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 920px) {
  .contacts__links {
    gap: 60px;
  }
  .link__wrapper {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .contacts__links {
    gap: 40px;
  }
  .link__wrapper {
    width: 40px;
    height: 40px;
  }
}
