@import '../../common';

.contacts__wrapper {
  width: $width90vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__links {
  width: $width90vw;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.link__wrapper {
  width: 100px;
  height: 100px;
  cursor: pointer;
  img {
    @extend .image-style;
  }
}

@include laptop_large {
  .contacts__links {
    gap: 80px;
  }
  .link__wrapper {
    width: 80px;
    height: 80px;
  }
}

@include laptop_medium {
  .contacts__links {
    gap: 60px;
  }
  .link__wrapper {
    width: 60px;
    height: 60px;
  }
}

@include mobile_large {
  .contacts__links {
    gap: 40px;
  }
  .link__wrapper {
    width: 40px;
    height: 40px;
  }
}
